name: CD
on:
  push:
    branches:
      - main
      - backport/*.*
    paths:
      - config/**
      - spack.yaml
jobs:
  cd:
    name: CD
    uses: access-nri/build-cd/.github/workflows/cd.yml@spack-v1-migration_TEST
    with:
      model: ${{ vars.NAME }}
      spack-manifest-schema-version: 2-0-0
      config-versions-schema-version: 4-0-0
      config-packages-schema-version: 1-0-0
    permissions:
      contents: write
      pull-requests: write
    secrets: inherit
